nav{
    width: 80% !important;
    padding: 0.5% 10%;
    height: fit-content;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}

nav .logo{
   width: 180px; 
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Dark navbar when scrolling */
.dark-nav{
    background-color: #212ea2;
    transition: 0.5s;
}